@charset "utf-8";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main, article {
  margin: 0 auto;
  margin-top: 3.1em;
  margin-bottom: 2em;
  max-width: 640px;
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 94%;
  
  &.post {
    box-shadow: 2px -2px 2em 2px rgba(17,17,17,0.2);
  }

  &::after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
  }
}

@media (--break-lg) {
  main, article {
    padding-top: var(--space-lg);
    &::after {
      margin-top: var(--space-lg);
    }
  }
}

nav, footer {
  flex: none;
}

footer {
  padding: 0 .6em;
  height: 2em;
  box-shadow: 0 0 0.2em rgba(17,17,17,0.2);
}

.small {
  font-size: smaller;
}

.muted {
  color: #b7b7b7;
}

article.post-with-image {
  background-color: #ffffff;
  padding: 0px 20px;
  border-radius: 3px;
  border: 1px solid #fafafa;
  @media all and (min-device-width: 480px) {
    margin-top: -100px;
  }
}

nav .show:checked ~ .menu {
  width: 45%;
}