
.icon-adult:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f303'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */