{{ define "type" }}single{{ end }}

{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="hero is-small is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{.Title}}
            </h1>
        </div>
    </div>
    <div class="hero-foot pb-3">
        <aside class="container is-fluid level">
            <div class="level-left">
                <span class="level-item tag is-rounded">{{ .Date.Format "Mon Jan 2, 2006" }}</span>
                <span class="level-item tag is-rounded">{{ .WordCount }} Words</span>
            </div>
            <div class="level-right">
                {{ with .Params.tags }}
                <div class="level-item tags">
                    {{ range . }}
                    <a href="{{ "tags/" | absURL }}{{ . | urlize }}" class="tag is-white">{{.}}</a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </aside>
    </div>
</section>
<article class="content p-6">
    {{ .Content }}
</article>
<nav class="level">
    <span class="level-left">
        {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}">← {{.Title}}</a>
        {{ end }}
    </span>
    <span class="level-right">
        {{ with .NextInSection }}
        <a class="next" href="{{.Permalink}}">{{.Title}} →</a>
        {{ end }}
    </span>
</nav>
{{ end }}