{{ define "type" }}index{{ end }}

{{ define "main" }}
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{.Site.Title}}
                </h1>
                <h2 class="subtitle">
                    {{.Site.Params.subtitle}}
                </h2>
            </div>
        </div>
    </section>
    <section class="section homepage-content content">
        {{.Content}}
    </section>
    <section class="section homepage-pages">
        <span class="is-size-4">Recent Blog Posts</span>
        {{ with .Site.GetPage "/blog" }}
            <ul class="ml-5">
            {{ range first 10 .Pages }}
                <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                    <span class="pl-4">{{ .Date.Format "Mon, Jan 2, 2006" }} ~{{ .FuzzyWordCount }} Words</span>
                </li>
            {{ end }}
            </ul>
        {{ end }}
    </section>
    <section class="section"></section>
{{ end }}