{{ define "type" }}page-now{{ end }}

{{ define "main" }}
<section class="hero is-small is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{.Title}}
            </h1>
            <h3 class="subtitle">
                {{.Params.Subtitle}}
            </h3>
        </div>
    </div>
</section>
<article class="content p-6">
    {{ .Content }}
</article>
<aside class="level">
    <div class="level-left"></div>
    <div class="level-right">
        <span class="has-text-weight-light is-size-7">Last Modified: {{ .Lastmod.Format "2 Jan 2006" }}</span>
    </div>
</aside>
{{ end }}